@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root{
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
    --color-text: #717FA6;
    --title-color: #1F2E55;
}

.back-img{
    width: 100%
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 4rem;
    right: 0%;
    top: 7rem;
    bottom: 0%;
    background-color: #fff;
    background: #FFFFFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
    width: 32.7rem;
    height: 56.7rem;
}

.about{
    margin-top: 2rem;
    width: 30rem;
    margin-left: 1.5rem;
}

.about h1{
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 1.6rem;
    color: var(--title-color);
}

.about p{
    color: var(--color-text);
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 4.5rem;
}

.plan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F9FF;
    width: 27.9rem;
    height: 8.1rem;
    margin-left: 1rem;
    border-radius: 1.1rem;
    margin-bottom: 2rem;
}

.plan img{
    width: 1.7rem;
    height: 1.8rem;
    
}
.plan span{
    background-color: #DFE6FB;
    padding: 1.5rem;
    border-radius: 50%;
    margin-left: -2rem;
}

.info-price{
    padding-left: 2rem;
    margin-top: 5.5rem;
    padding-right: 4rem;
}

.info-price h2{
    color: var(--title-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 900;
}

.info-price p{
    color: var(--color-text);
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: .5rem;
}

.plan a{
    color: #382AE1;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 700;
}

.payment-btn{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
}

.payment-btn a{
    text-decoration: none;
}

.payment-btn a:nth-child(1){
    color: #fff;
    background-color: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    font-size: 1.5rem;
    font-weight: 900;
    width: 27.9rem;
    border-radius: 1.1rem;
    padding-block: 1.5rem;
}

.payment-btn a:nth-child(2){
    font-size: 1.5rem;
    color: var(--color-text);
    font-weight: 900;
}
